@page "/about"

<PageTitle>About Chai Pasta</PageTitle>

<h1>The Story of Chai Pasta</h1>

<table>
    <tr><td>
The inspiration for creating the Chai Pasta company comes from an event that I participated in.
In the summer of 2025, I signed up to partipate as a rider in the annual Bike 4 Chai cycling event in the Pocono and Catskills mountains.
This ride benifits the Camp Simcha camps run by Chai Lifeline as well as events all year round. These camps for both boys and girls give life to children who are afflicted terminal and very rare diseases a chance to laugh and have fun while coping with the crippling effects of their diseases.
Childen around America are stricken with these diseases leaving them and their families with the tremendous burden their care.
    </td></tr>
    <tr><td>
        <table>
            <tr>
            <td>
Additionally to note that many of these children feel isolated from their old friends and even families, as they are labeled as needy or different.
One of the most emmotional experiences for me was arriving at the finish line and seeing the children we were riding for. They were there to greet us and to give us our medals for completing the ride.
            </td>
            <td>
                <a href="https://www.bike4chai.com" target="_blank">
                <img src="images/bike4chai.png")>
                </a>
                <img>
            </td>
            </tr>
        </table>
     </td></tr>
    <tr><td>
I was so thoroughly moved by seeing these children and their brave families that I was spurned to start up a company that sheeds light onto this group of people.
Hence, Chai Pasta has been created as a not for profit entity to help with the financial burden of caring for these children.
    </td></tr>
</table>

