@page "/"

<PageTitle>Chai Pasta</PageTitle>

<h1>Pasta With a Purpose</h1>
<img src="images/pepperPasta.jpeg")>
<p>Six Pepper Pasta</p>

Specializing in organic, farm to table, hand-crafted pasta and sauces out of Baltimore, MD.
