@page "/products"
@attribute [StreamRendering]
@using BlazorApp1.Components.Data;

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<p>This page shows our menu of quality products.</p>

@if (productDescriptions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th aria-label="Temperature in Farenheit">Product</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productDesription in productDescriptions)
            {
                <tr>
                    <td>@productDesription.Name</td>
                    <td>@productDesription.Price.ToString("C2")/@productDesription.Unit</td>
                    <td>@productDesription.Ingredients</td>
                </tr>
            }
        </tbody>
    </table>

<h1>Pasta Bar</h1>
<p>
In addition to to our quality products, Chai Pasta offers a unique party idea. We will
come to your place and demonstrate how our pasta is make while preparing a delicious
assortment of pasta and sauces. We call this our <b>Pasta Bar</b>. We will come reaady with
balls of dough and show how we create many of the different shapes of pasta. We bring a chef
that will combine the pasta and sauce of your choice and prepare your sample right there.
When the sample is finished, we offer a wide range of garnishes to your taste.
</p>
<p>
The cost of the bar depends upon the number of guests you have and the time that the bar
will serving. All of our chefs are trained and experienced.
</p>
}

@code {
    private ProductDescription[]? productDescriptions;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        productDescriptions = ProductDescription.GetProductDescriptions().ToArray();
    }
}
